#menu1 , #limenu {
    color: rgb(122, 78, 24);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-size: 30px 20px;
    background-color: beige;
}
